@import url('https://www.fontify.me/wf/e616f23df7318a71e791bef275123744');


@font-face {font-family: "Handel Gothic"; src: url("//db.onlinewebfonts.com/t/08b20650c32153daa258baa473099e97.eot"); src: url("//db.onlinewebfonts.com/t/08b20650c32153daa258baa473099e97.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/08b20650c32153daa258baa473099e97.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/08b20650c32153daa258baa473099e97.woff") format("woff"), url("//db.onlinewebfonts.com/t/08b20650c32153daa258baa473099e97.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/08b20650c32153daa258baa473099e97.svg#Handel Gothic") format("svg"); }

@font-face {
    font-family: "eurostile";
    src: url("https://www.fontify.me/cm/e616f23df7318a71e791bef275123744/EurostileNextLTPro-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    }



html {
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

#container {
    width: 800px;
    margin: 25px 50px;
}

.avatar {
    position: relative;
    height: 300px;
    width: 292px;
    margin: 0 0 0 0;
    padding: 40px 0 0 0;
}

.user-picture{
    position: absolute;
    width: 211px;
    z-index: 1;
    bottom: 103px;
    left: 41px;
}

.user-picture img {
    width: 100%;
}

.border-infront {
    position: relative;
    z-index: 2;
}

.border-behind {
    vertical-align: bottom;
}

.background {
    background: radial-gradient(circle, rgba(22,174,217,1) 0%, rgba(0,0,0,1) 93%);
    margin: 25px 0 0 25px;
    border-radius: 40px;
    width: 240px;
    height: 172px;
    position: absolute;
    bottom: 103px;
    z-index: -5;
}

.info {
    position: absolute;
    bottom: -2px;
    left: 37px;
    z-index: 3;
}

h1 {
    color: rgb(230, 230, 230);
    font-family: handel gothic;
    text-transform: uppercase;
    font-size: 22pt;
    margin: 0;
    padding: 0 0 3px 0;
    width: 225px;
    white-space: nowrap;
    text-overflow: none;
    font-weight: normal;
}

h2 {
    color: rgb(124, 124, 124);
    font-family: Eurostile;
    font-size: 33pt;
    margin: 0;
    padding: 0 0 0 0;
    text-overflow: none;
    white-space: nowrap;
    font-weight: normal;
    letter-spacing: 2pt;
}

#controls {
    position: absolute;
    top: 110px;
    left: 425px;
}

#controls button {
    color: rgb(228, 220, 214);
    font-family: Handel Gothic;
    font-size: 16pt;
    margin: 5px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
    background-image: linear-gradient(to bottom, rgb(61, 61, 61), #1d1d1d);
    box-shadow: 0 0 10px rgb(20, 20, 20);
}

#controls button:hover {
    color: rgb(41, 41, 41);
    background-image: linear-gradient(to bottom, rgb(199, 199, 199), #929292);
    box-shadow: 0 0 10px rgb(20, 20, 20);
}

#controls button:active {
    color: rgb(22, 22, 22);
    background-image: linear-gradient(to bottom, #929292, rgb(199, 199, 199));
    box-shadow: 0 0 15px rgb(0, 0, 0);
}

#controls p {
    color: rgb(228, 220, 214);
    font-family: Handel Gothic;
    font-size: 34pt;
    letter-spacing: 5px;
    padding: 0 10px;
    margin: 20px 0 5px 0;
    text-shadow: 0 0 15px rgb(182, 182, 182);
}

#controls button#dupe, #controls button#undupe {
    width: 142.5px;
}