@import url('https://www.fontify.me/wf/e616f23df7318a71e791bef275123744');

@font-face {font-family: "Handel Gothic D"; src: url("//db.onlinewebfonts.com/t/6bce08c7578b064d528ce59eea3aed9c.eot"); src: url("//db.onlinewebfonts.com/t/6bce08c7578b064d528ce59eea3aed9c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6bce08c7578b064d528ce59eea3aed9c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6bce08c7578b064d528ce59eea3aed9c.woff") format("woff"), url("//db.onlinewebfonts.com/t/6bce08c7578b064d528ce59eea3aed9c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6bce08c7578b064d528ce59eea3aed9c.svg#Handel Gothic D") format("svg"); }




html {
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

#container {
    width: 800px;
    padding: 0 0 0 0;
    margin: 75px 30px;
}

#avatar {
    position: relative;
    height: 300px;
    width: 300px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#user-picture{
    position: absolute;
    width: 211px;
    z-index: 1;
    bottom: 110px;
    left: 41px;
}

#user-picture img {
    width: 100%;
}

#border-infront {
    position: relative;
    z-index: 2;
}

#background {
    background: radial-gradient(circle, rgba(22,174,217,1) 0%, rgba(0,0,0,1) 93%);
    margin: 25px 0 0 25px;
    border-radius: 40px;
    width: 240px;
    height: 200px;
    position: absolute;
    top: 0;
    z-index: -5;
}

#info {
    position: absolute;
    top: 207px;
    left: 32px;
    z-index: 3;
}

h1 {
    color: rgb(230, 230, 230);
    font-family: Handel Gothic D;
    text-transform: uppercase;
    letter-spacing: 0.8pt;
    font-size: 20pt;
    margin: 0;
    padding: 0 0 3px 0;
    width: 225px;
    text-overflow: none;
    white-space: nowrap;
}

h2 {
    color: rgb(126, 126, 126);
    font-family: font85995;
    font-size: 32pt;
    letter-spacing: 1.5pt;
    margin: 0;
    padding: 0 0 0 0;
    text-overflow: none;
}

#controls {
    position: absolute;
    top: 130px;
    left: 425px;
}

#controls button {
    color: rgb(228, 220, 214);
    font-family: Handel Gothic D;
    font-size: 20pt;
    margin: 10px;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
    background-image: linear-gradient(to bottom, rgb(61, 61, 61), #1d1d1d);
    box-shadow: 0 0 10px rgb(20, 20, 20);
}

#controls button:hover {
    color: rgb(41, 41, 41);
    background-image: linear-gradient(to bottom, rgb(199, 199, 199), #929292);
    box-shadow: 0 0 10px rgb(20, 20, 20);
}

#controls button:active {
    color: rgb(22, 22, 22);
    background-image: linear-gradient(to bottom, #929292, rgb(199, 199, 199));
    box-shadow: 0 0 15px rgb(0, 0, 0);
}